{% include 'pos_header' %}

<div class="container-fluid">
    <div class="span8 offset2" style='margin-top: 96px;'>
        <img style='width: 100%;' src='/static/img/giftreggie-logo.png'/>

        <p style='text-align: left; font-size: 32px; line-height: 32px;'>You can't use Gift Reggie POS on your current plan! If you'd like to enable the POS integration, please upgrade to the "Expert Plan".</p>
    </div>
</div>

{% include 'pos_footer' %}
