{% include 'proxy_header' %}
<div class="container"><div class="row"><div class="col-12 text-center">
<div class="giftreggie-front giftreggie-closed giftreggie-theme-{{ theme.name | handleize }}">
	<h3>{{ 'gift-reggie.registry_closed' | t }}</h3>
</div>
</div></div></div>

{% include 'proxy_footer' %}
