{% include 'proxy_header' %}
<div class="container"><div class="row"><div class="col-12">
<div class="giftreggie-front giftreggie-error giftreggie-theme-{{ theme.name | handleize }}">
	<h1 class="h2 text-center">{{ error.code }} Error</h2>
	<h2 class="h3 text-center">{{ error.title | escape_html }}</h2>

	<p class="text-center body1">{{ error.description | escape_html }}</p>
</div>
</div></div></div>
{% include 'proxy_footer' %}
