{% include 'proxy_header' %}

<div class="giftreggie-front giftreggie-closed giftreggie-theme-{{ theme.name | handleize }}">
	<p>{{ 'gift-reggie.registry_closed' | t }}</p>
</div>

{% include 'proxy_footer' %}
